// 
$spacing: 10px;
$spacing-s: $spacing;
$spacing-x: $spacing * 2;
$spacing-xx: $spacing * 3;
$spacing-xm: $spacing * 4;
$spacing-m: $spacing * 6;
$spacing-l: $spacing * 8;
// 
$lineHeight-s: 20px;
$lineHeight-x: 30px;
$lineHeight-m: 40px;
$lineHeight-ml: 50px;
$lineHeight-l: 60px;
// 
$menu-weight: 200px;
// 
$text-s: 12px;
$text-x: 14px;
$text-m: 16px;
$text-l: 18px;
$text-xl: 22px;
$text-xxl: 24px;
$text-xxxl: 30px;